/*VARIABLES*/

/*.......LETTER-SPACING......*/
$letter-spacing-global: 2px;


/*.......FONT-SIZES......*/

$font-size-title: 36px;
$font-size-subtitle: 24px;
$font-size-nav: 14px;
$font-size-paragraph: 12px;

$font-size-nav-mobile:12px;
$font-size-paragraph-mobile: 9px;



/*.......MARGINS......*/
$margin-sides: 25px;

$margin-paragraph: 10px;
$margin-title: 20px;



/*.......DISTANCES......*/
$header-padding-bottom: 15px;



/*.......COLORS......*/
$black: #000000;
$white: #FFFFFF;
$red: #e60000;
$gold: #bca151;
$grey: rgb(128,128,128);




/*.......LINE HEIGHTS......*/
$line-height-overall: 20px;
$line-height-paragraph: 25px;
$line-height-title: 25px;

$line-height-paragraph-mobile: 16px;




/*.......LETTER SPACING......*/
$letter-spacing: 1px;




/*.......Z-INDEX......*/

$z-loader: 10;
$z-detail-play: 11;
$z-detail-close: 11;
$z-nav-pop: 10;
$z-social-link:10;
$z-corner-logo:9;
$z-follow-icons:9;
$z-nav: 8;
$z-social-image:7;
$z-social-description:6;
$z-canvas:6;
$z-loader: 6;
$z-header:6;
$z-backtotop: 6;


$z-detail-name: 2;
$z-detail-image: 1;


$z-world-nav: 6;
$z-intro-gallery: 5;
$z-world-description: 5;
$z-intro-follow: 6;
$z-intro-background:4;

$z-stickers: 4;
$z-main: 1;
