
/*.......FONT-FACES......*/
@font-face {
    font-family: gill;
    src: url("/fonts/gill/Gill-Sans-MT.ttf") format("ttf")
}


@font-face {
    font-family: tw-cen;
    src:  url("/fonts/tw-chen/Tw-Cen-MT.ttf") format("ttf")
  }
